a:link {
  text-decoration: none;
  color: none;
}

a:visited {
  color:white;
  text-decoration: none;
}

a:hover {
  color:gold;
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
  color: red;
}

img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
}
